html {
    overflow-x: hidden;
    box-sizing: border-box;
}

.header {
    color: #26f9ad;
    margin: auto;
    display: table;
    content: "";
    clear: both;
    line-height: 25px;
}

.body {
    display: block;
    color: #00ff00;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #303030;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    display: block;
    color: #26f9ad;
    text-align: center;
    margin: auto;
    background-color: #303030;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 2em;
    padding-right: 2em;
}

a { text-decoration: underline; color: #00ff00; }
a:visited { text-decoration: underline; color: #00ff00; }
a:hover { text-decoration: underline; color: #00ff00; }
a:focus { text-decoration: underline; color: #00ff00; }
a:hover, a:active { text-decoration: underline; color: #00ff00; }

#card table, th, td {
    align-items: center;
    border: 1px solid grey;
    padding: 0.5em;
}

.tablecenter {
    text-align: center;
    margin: auto;
    width: auto;
}